<h1>Ask Questions..</h1>

<%= form_for @question, url: user_questions_path(current_user),remote: true  do |f| %>


  <%= f.collection_select :topic_id, Topic.order(:name),:id,:name %>

  <%= f.label :question %>
  <%= f.text_field :question %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  
  <%= f.submit "add question" %>
<% end %>

 <div id= "question_list">
  <%=  render 'questions/allquestions' %>
    
  </div>
