<div  ><h2>Ask Questions..</h2>

<%= form_for @question, url: questions_path  do |f| %>

  <%= f.collection_select :topic_id, Topic.order(:name),:id,:name %>

  <%= f.label :question %>
  <%= f.text_field :question %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  
    <%= f.submit "add question" %>
<% end %>
<br>
<%= form_tag({:action => :readcsv}, multipart: true) do %>
  <%= file_field_tag :file %>
  <%= submit_tag( "Import" ) %>
<% end %>

 <div id= "question_list">
  <%=  render 'questions/allquestions' %>
    </div>
  </div>

<div   class="digg_pagination" style="padding-left: 40%; background-color: #d6cbd3  ;">
<%= will_paginate @questions %>
</div>
