<hr>
<table style="width:100%;">
	<tr><td>
	<h1>User - <%= link_to @user.email, profile_show_path(id: @user) %></h1>
	</td><td>
	<p>Following:
		<%=  @user.following.count %>
	</p>

<%= render 'shared/followers' %>
	</td><td>
	<% if current_user.id == @user.id %>
	<% else %>
		<%= render 'shared/followform' %>
	<% end %>

	</td>
	</tr>		<tr><hr>
		<td>
			<br>
			<h2>Topic:-<%= link_to @topic.name, user_topic_path(user_id: current_user.id,id: @topic.id ) %></h2>
		</td>
		<td>

			<%= render 'shared/tfollowers' %>     
		</td>
		<td>   
			<%= render 'shared/tfollowbutton'	%>
		</td>
	</tr>
</table>

	<hr><hr>
	<h2>Question:
		<%= @question.question %>
		<br>
	</h2>

	<%= render 'static_pages/answers' %>

<br>


<%= form_for @answer, url: user_question_answers_path( user_id: current_user.id,question_id: @question.id),remote: true  do |f| %>
			
	<%= f.text_area :answer , style: "width:450px;", 	placeholder: 'Enter your answer' %>
	<%= f.hidden_field :user_id, value: current_user.id %>
	<%= f.hidden_field :question_id,  value: @question.id %>
<div style="margin:5px;">	<%= f.submit "add answer" %>

<% end %>