       <% if user_signed_in? %>


<%  @questions_group_by_topic.each do |topic, questions|    %>



<div class="card border-info" style="margin:25px ;">
  <h5 class="card-header border-info" style="text-align: left;">
       =>   <%= link_to topic.name, topic_path(id: topic.id ) %>
  </h5>
    <% questions.each do |q| %>
  <div class="card-body ">
    <h5 class="card-title">

      Q. <%= link_to q.question ,question_path( id: q.id ) %>

        <p style="color: gray; text-align: right;"> 
                 Question asked by.  
                 	<% if @user.find(q.user_id).avatar.attached? %>
								 <%= image_tag @user.find(q.user_id).avatar,style: "width:30px;",class: "img-fluid" %>
								<% end %>
                 <% if @user.find(q.user_id).firstname.present? %>
                   <%= @user.find(q.user_id).firstname   %>
                 <% else %>
                    <%= @user.find(q.user_id).email %>
                 <% end %>
                 </p>
                   
        <hr>

    </h5>
      <% if q.answers.any?  %>
    <p class="card-text">
    <%= q.answers.last.answer.html_safe %>
                   <p style="color: gray; text-align: right;"> 
                  <% if @user.find(q.answers.last.user_id).avatar.attached? %>
              <%= image_tag @user.find(q.answers.last.user_id).avatar, style: "width:30px; height:30px;" %>
                <% end %>
                              <%= @user.find(q.answers.last.user_id).firstname %>
             <br> Posted <%= time_ago_in_words(q.answers.last.created_at) %> ago. 
           </p>
         </p>
      <%= link_to "View more answers",question_path( id: q.id ),class: "btn btn-primary" %>

    <% else %>
      <p>No one has answered yet</p>
      <%= link_to "Give answer",question_path( id: q.id )%>
    <% end %>

  </div>

      <% end %>
</div>

<% end %>
  <div   class="digg_pagination" style="padding-left: 40%; background-color: #d6cbd3  ;">
<%= will_paginate @questions %>
</div>


                              <% else %>
<%  @questions_group_by_topic.each do |topic, questions|    %>

<div class="card" style="margin:25px ;">
  <h5 class="card-header" style="text-align: left;">
       =><%=  topic.name %>
  </h5>
    <% questions.each do |q| %>
  <div class="card-body">
    <h5 class="card-title">

      Q. 
         <%#=  q.question  %></td>
      <%= link_to q.question ,question_path( id: q.id ) %>
      <hr>
    </td>
    </h5>
      <% if q.answers.any?  %>
    <p class="card-text">
    <%= q.answers.last.answer.html_safe %>
                   <p style="color: gray; text-align: right;"> 
                  <% if @user.find(q.answers.last.user_id).avatar.attached? %>
              <%= image_tag @user.find(q.answers.last.user_id).avatar, style: "width:30px; height:30px;" %>
                <% end %>
                              <%= @user.find(q.answers.last.user_id).firstname %>
             <br> Posted <%= time_ago_in_words(q.answers.last.created_at) %> ago. 
           </p>
         </p>
      <%= link_to "View more answers",question_path( id: q.id ),class: "btn btn-primary" %>

    <% else %>
      <p>No one has answered yet</p>
      <%= link_to "Give answer",question_path( id: q.id )%>
    <% end %>

  </div>

      <hr><hr>
      <% end %>
</div>

<% end %>

<% end %>
   
 

