<br><h1>Available topics</h1>


      <%= @topic.name %>



<p>Following
  <%=  @user.followingtopic.count %>
</p>

<p>Followers
  <%=  @user.followersoftopic.count %>
</p>        
<% if current_user.followingtopic?(@topic) %>

      <%= form_with(model: current_user.active_relationships_topic.find_by(topic_added_id: @topic.id), html: { method: :delete }, local: true) do |f| %>

      <%= f.submit "Unfollow", class: "btn" %>
      <% end %>

<% else %>  

      <%= form_with(model: current_user.active_relationships_topic.build, local: true) do |f| %>
          
          <%= hidden_field_tag   :topic_added_id, @topic.id %>
         
      <%= f.submit "Follow", class: "btn btn-primary" %>
      <% end %>

<% end %>


<% @questions.each do |q| %>
<%=  q.question %>
      <% end %>